.custom-dots {
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background-color: white;
  position: absolute;
  top: -180%;
}
.slick-active > .custom-dots {
  background-color: red !important;
}

.slider-img {
  width: 100%;
}
@media only screen and (max-width: 996px) {
  .slider-img {
    width: 100%;
    height: auto;
  }
}
